.Experience, .Student
  > *
    margin-bottom: 30px

.Work-Item

  &__Header
    display: flex
    align-items: center

    &__Item
      padding-right: 15px

      &--Company
        font-size: 1.4em

      &--Dates
        color: lighten(gray, 10)
        font-size: 0.65em
        letter-spacing: 2.4px
        font-weight: 300
        text-transform: uppercase
  
      &--Title
        color: lighten(gray, 10)
        font-size: 0.65em
        letter-spacing: 2.4px
        font-weight: 500
        text-transform: uppercase

  &__Content
    padding-top: 10px
    font-size: 0.85em
    color: darken(gray, 5)
    max-width: 700px
    letter-spacing: 0.5px

    > p
      padding: 5px 0

  &__Subtitle
    color: gray
    padding-top: 10px
    font-size: 0.8em
